<main id="main"><%- include('pages/dashboard') %>
<%- include('pages/alugueis') %>
<%- include('pages/reservas') %>
<%- include('pages/devolucoes') %>
<%- include('pages/reboques') %>
<%- include('pages/manutencao') %>
<%- include('pages/clientes') %>
<%- include('pages/relatorios') %>
<%- include('pages/configuracoes') %>
<%- include('pages/usuarios') %>
<%- include('pages/minha-conta') %>
<%- include('pages/historico') %>
</main>